.write-msg {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}
.nav-link.active{
    background-color: deepskyblue;
    color: white;
    border-color: #fff;
}
.overflow-hidden img {
    object-fit: cover;
}

.fs-1 {
    font-size: 8rem !important;
}

.banner {
    height: 25rem;
}

.about_see_all {
    background: lightgrey;
    width: 100%;
}

.about_see_all:hover {
    background: darkgray;
}

.accordion-button {
    padding: 1rem;
    font-weight: 500;
}

.accordion-button:focus {
    box-shadow: none;
    color: black;
    border: none;
}

.accordion-button:active {
    color: black;
}
.man{
    font-size: 8rem;
}
.about_sec,
.event_sec {
    width: 50%;
    border-radius: 7px;
}

.event_img {
    height: 160px;
    border-radius: 8px;
}
.pen{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    z-index: 5000;
    background: white;
}
.pen:hover{
    background: #0d6efd;
}
#nav-photos img,
#nav-videos img {
    width: 10rem;
    object-fit: cover;
    height: 10rem;
}

#nav-albums .photos-card {
    width: 12rem;
}

#nav-albums .photos-card img {
    width: 100%;
    object-fit: cover;
    height: 13rem;
}

.time {
    color: red;
    font-size: 0.9rem;
}

.event_id {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 12px;
    background: whitesmoke;
    border: none;
    margin-bottom: 1.5rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    font-size: 1.2rem;
    color: grey;
}

.no-border {
    border: none !important;
}
.discussion{
    width: 80%;
}
.photo-v{
    width: 90%;
}
.profile_pic{
    height: 50px;
}
@media (max-width:1400px) {
    .gr_topic {
        width: 35%;
    }

    .search {
        width: 30%;
    }

    .create {
        width: 35%;
    }

    .event_sec {
        width: 55%;
    }
}
@media (max-width:1297px){
    .discussion{
        width: 90%;
    }
}
@media (max-width:1200px) {
    .event_sec {
        width: 60%;
    }
    .discussion{
        width: 100%;
    }
}

@media (max-width:1073px) {
    .add_friend {
        width: 30%;
    }
    .photo-v{
        width: 100%;
    }
}

@media (max-width:1024px) {

    .about_sec,
    .event_sec {
        width: 70%;
    }

}

@media (max-width:950px) {

    #nav-photos img,
    #nav-videos img {
        width: 7rem;
        height: 7rem;
    }

    .event_sec {
        width: 80%;
    }
    .left_card{
        order: 2;
        width: 70%;
    }
    .right_card{
        width: 70%;
        position: relative;
    }
    .photo-v{
        width: 90%;
    }
}


@media (max-width:810px) {
    .about_sec {
        width: 80%;
    }

    .event_sec {
        width: 85%;
    }
}

@media (max-width:770px) {

    
    .gr_topic {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .search {
        width: 40%;
    }

    .create {
        width: 45%;
    }

    .event_sec {
        width: 90%;
    }

    .event_img {
        height: 130px;
    }
    .photo-v{
        width: 90%;
    }

}

@media(max-width:710px){
    .left_card{
        width: 85%;
    }
    .right_card{
        width: 85%;
    }

}
@media (max-width:600px) {

    .group-btn button,
    .group-btn a {
        padding: .2rem .5rem;
    }

    .banner {
        height: 15rem;
    }

    .grp-member {
        justify-content: center;
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-content .group-btn {
        padding: .5rem 0rem;
    }

    .h1 {
        font-size: 2rem;
    }

    .hi {
        margin-right: 0.5rem;
    }

    #nav-photos img,
    #nav-videos img {
        width: 5rem;
        height: 5rem;
    }

    .media-btn button {
        font-size: .6rem;
        padding: .1rem .2rem;
    }

    #nav-albums .photos-card {
        width: 8rem;
    }

    #nav-albums .photos-card img {
        height: 9rem;
    }

    #nav-albums .photos-card h5 {
        font-size: 1rem !important;
    }

    .event_img {
        height: 100px;
    }

    .event_sec {
        width: 95%;
    }

    .add_friend {
        width: 35%;
    }
    .left_card{
        width: 95%;
    }
    .right_card{
        width: 95%;
    }
}

@media (max-width:535px) {
    .hi {
        margin-right: 1rem;
    }

    .banner {
        height: 12rem;
    }

    .container {
        padding: 0rem !important;
    }

    .about_sec,
    .event_sec {
        padding: 0.5rem !important;
    }

    #nav-photos img,
    #nav-videos img {
        width: 4rem;
        height: 4rem;
    }

   
    .topics {
        width: 90%;
    }

    .add_friend {
        width: 41%;
    }
    .profile_pic{
        height: 40px;
    }
    .detail_holder{
        width: 73%;
    }
    .photo-v{
        width: 100%;
    }
    .photo-v .row{
        padding-left: 0.25rem;
    padding-right: 0.25rem;
    }
    
}

@media (max-width:420px) {

    .about_sec,
    .event_sec {
        width: 95%;
        padding: 0.5rem !important;
    }

    .topics {
        width: 90%;
    }

    .search {
        width: 50%;
    }

    .create {
        width: 50%;
    }

    .tag {
        width: 85%;
    }

    .time {
        font-size: 0.8rem;
    }

    .event_id {
        font-size: 1rem;
    }

    .img_holder {
        width: 35%;
    }

    .info_holder {
        width: 55%;
    }

    .add_friend {
        width: 25%;
    }

    .add_info {
        display: none;
    }

    .add_row {
        display: block;
    }

    .add_detail {
        width: 39%;
    }
    .detail{
        font-size: 0.9rem;
    }
    .breakdown2{
        margin: auto;

    }
    .breakdown1{
        margin: auto;
    margin-bottom: 0.5rem;
    }
    .p-target{
        padding: 0.1rem 0.4rem!important;
    }
    .man{
        font-size: 5rem;
    }
    .groups_icon{
        margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
    }
}


