.write-msg {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.overflow-hidden img {
    object-fit: cover;
}

.fs-1 {
    font-size: 8rem !important;
}

.banner {
    height: 25rem;
}

.about_see_all {
    background: lightgrey;
    width: 100%;
}

.about_see_all:hover {
    background: darkgray;
}

.accordion-button {
    padding: 1rem;
    font-weight: 500;
}

.accordion-button:focus {
    box-shadow: none;
    color: black;
    border: none;
}

.accordion-button:active {
    color: black;
}

.about_sec {
    width: 50%;
    border-radius: 7px;
}

#nav-photos img,
#nav-videos img {
    width: 10rem;
    object-fit: cover;
    height: 10rem;
}

#nav-albums .photos-card {
    width: 12rem;
}

#nav-albums .photos-card img {
    width: 100%;
    object-fit: cover;
    height: 13rem;
}

@media (max-width:1024px) {
    .about_sec {
        width: 70%;
    }

}

@media (max-width:950px) {

    #nav-photos img,
    #nav-videos img {
        width: 7rem;
        height: 7rem;
    }
}

@media (max-width:810px) {
    .about_sec {
        width: 80%;
    }
}

@media (max-width:600px) {

    .group-btn button,
    .group-btn a {
        padding: .2rem .5rem;
    }

    .banner {
        height: 15rem;
    }

    .grp-member {
        justify-content: center;
    }

    .banner-content {
        flex-direction: column;
    }

    .banner-content .group-btn {
        padding: .5rem 0rem;
    }

    .h1 {
        font-size: 2rem;
    }

    .hi {
        margin-right: 0.5rem;
    }

    #nav-photos img,
    #nav-videos img {
        width: 5rem;
        height: 5rem;
    }

    .media-btn button {
        font-size: .6rem;
        padding: .1rem .2rem;
    }
    #nav-albums .photos-card{
        width: 8rem;
    }
    #nav-albums .photos-card img{
        height: 9rem;
    }
    #nav-albums .photos-card h5{
        font-size:1rem !important;
    }
}

@media (max-width:535px) {
    .hi {
        margin-right: 1rem;
    }

    .banner {
        height: 12rem;
    }

    .container {
        padding: 0rem !important;
    }

    #nav-photos img,
    #nav-videos img {
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width:420px) {
    .about_sec {
        width: 95%;
        padding: 0.5rem !important;
    }

    .topics {
        width: 90%;
    }
}